body {
  background-color: white;
}

p {
  color: navy;
  margin-left: 20px;
}

#homeScreen{
  background-color: black;
  border: 3px solid red;
}

#onePlayer {
    margin-left: 500px;
    margin-top: 400px;
    width: 200px;
    height: 100px;   
    background: white;
    border: none;
    color: green;   
    font-size:14px;
    font-weight:700;
    position: absolute;
    left: 0px;
    top: 0px;
}

#twoPlayer {
  margin-left: 900px;
  margin-top: 400px;
  width: 200px;
  height: 100px;   
  background: white ;
  color: green;   
  font-size:14px;
  font-weight:700;
  position: absolute;
  left: 0px;
  top: 0px;
}

#gameScreen{
  border: 3px solid red;
}