

#title { /* Title atributes*/
  opacity: 1;
  left: 300px;
  top: 100px;
  font-size:50px;
  color: black;
  position: absolute;
}

#homeScreen{ /* Home Screen atributes*/
  width: 1418px;
  height: 760px;
  background-color: black;
  border: 3px solid red;
}

#onePlayer { /* One Player Game atributes*/
    margin-left: 600px;
    margin-top: 350px;
    width: 200px;
    height: 100px;   
    background: black;
    border: 3px solid red;
    color: white;   
    font-size:30px;
    font-weight:700;
    position: absolute;
    left: 0px;
    top: 0px;
}

#gameScreen{ /* Game Screen atributes*/
  width: 1418px;
  height: 650px;
  border: 3px solid red;
}

#TextBox{ /* Condition and Location text box during the Game atributes*/
  width: 1418px;
  height: 100px;
  background:#202020;
  color: white;
  border: 3px solid red;
  left: 0px;
  top: 0px;
}

#sunnyHead{ /* Sunny Condition text*/
  opacity: 1;
  left: 670px;
  top: 675px;
  position: absolute;
}

#location{ /* Location text*/
  opacity: 1;
  left: 1200px;
  top: 675px;
  position: absolute;
}

#pl1{ /* Player 1 text*/
  opacity: 1;
  left: 100px;
  top: 675px;
  color: red;
  position: absolute;
}

#score{
  opacity: 1;
  margin-left: 175px;
  top: 675px;
  color: white;
  position: absolute;
}